<h1>Create a New Bar</h1>

<%= render 'form' %>

<div class="row">
  <div class = "small-offset-3 small-6 columns">
    <div class="hollow button defcon-5">
      <%= link_to "Go Back", bars_path %>
    </div>
  </div>
  <div class = "small-offset-3 columns">
</div>
