$fiery-red: #F2552C;
$heavy-gray: #444;

h1 {
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: $heavy-gray;
}

.top-bar-right {
  padding: 15px;
}

.top-bar-link {
  font-size: 20px;
  display: inline-block;
  padding: 10px;
}

.top-bar {
  margin-bottom: 15px;
}
