$fiery-red: #F2552C;
$heavy-gray: #444;

blockquote {
  color: white;
  font-size: 90%
}

h2 {
  color: white;
}
h1 {
  text-align: center;
  color: white;
}

li {
  color: white;
}

a {
  color: white;
  font-size: 120%
}

p {
  color: white;
  font-size: 110%;
}

label {
  color: white;
}

a:hover {
  color: $heavy-gray;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

h6 {
  color: white;
}

.top-bar-right {
  padding: 15px;
}

.top-bar-link {
  font-size: 20px;
  display: inline-block;
  padding: 10px;
}

.top-bar {
  margin-bottom: 15px;
}
