$fiery-red: #F2552C;
$heavy-gray: #444;

header {
  background-color: $fiery-red;
}

h1 {
  text-align: center;
}

.signedInBar {

}

.signedOutBar {

}

.create {

}

a {
  color: black;
}

a:hover {
  color: $heavy-gray;
}
