$light-gray: #E6E6E6;
$fiery-red: #F2552C;

.card {
  max-width: 350px;
  max-height: 450px;
  margin: 10 auto;
  background-color: $light-gray;
}

.info {
  text-align: center;
}

.image {
  max-width: 225px;
  max-height: 225px;
  display: block;
  margin: 0 auto;
}

.search {
  position: absolute;
  width: 20%;
  top: 10%;
  right: 30%;
}

.view {
  background-color: $fiery-red;
  padding: 10px;
  border-radius: 20px;
}
