$fiery-red: #f2552c;
$heavy-gray: #444;
$grey: #7f7f7f;

.card-divider {
  border-radius: 10px;
  height: 500px;
  width: 400px;
}

.card {
  border-radius: 10px;
}

.info {
  height: 190px;
  padding: 10px;
  text-align: center;
}

.image {
  // max-width: 400px;
  display: block;
  height: 200px;
  margin: 0 auto;
}

.imageContainer {
  height: 200px;
  width: 400px;
}

.search {
  position: absolute;
  top: 5%;
  right: 30%;
}

.numbers {
  padding: 10px;
  text-align: center;
  width: 100%;
}

.button {
  background-color: $fiery-red;
  border-radius: 5px;
  margin: 5px;
}

.button:hover {
  background-color: $grey;
  color: $heavy-gray;
}

.description {
  color: $heavy-gray;
}

.viewContainer {
  width: 100%;
}

.view {
  display: inherit;
  font-size: 24px;
  margin: 0 auto;
}
