$dark-gray: #262626;
$bright-red: #f2552c;

.show {
  background-color: $dark-gray;
}

.subheader {
  color: #ffffff;
}
.row.column.small-12.medium-6.columns {
  background-color: $bright-red;
}

.label {
  font-size: 20px;
}
