$dark-gray: #262626;
$bright-red: #F2552C;

.show {
  background-color: $dark-gray;
}

.subheader{
  color: white;
}
.row.column.small-12.medium-6.columns{
  background-color: $bright-red;
  border-radius: 10px;
}

.label {
  font-size: 20px
}
